$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin box-padding() {
  padding: toRem(19.02) toRem(39.56);
}

body {
  font-family: "Karla", sans-serif;
  background-color: $light-gray;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 96vh;
}

.box {
  box-shadow: 0px toRem(4.32) toRem(30) $grayish-blue;
  border-radius: toRem(10);
}

.info {
  @include box-padding();
  padding-bottom: toRem(34.786);
  background-color: white;
  border-top-right-radius: toRem(10);
  border-top-left-radius: toRem(10);
}

.header {
  font-size: toRem(24.00504);
  font-weight: 700;
  color: $cyan;
  margin-block: 20px;
  margin-block-end: 25px;
}

.sub-header {
  font-size: toRem(18.4001);
  color: $bright-yellow;
  font-weight: 700;
  margin-block-end: toRem(10);
}

.body {
  color: $grayish-blue;
  width: toRem(550);
  line-height: 1.5;
}

.flex-items {
  display: flex;
}

.sign-up {
  background-color: $cyan;
  padding: toRem(34.02) toRem(40.56);
  border-bottom-left-radius: toRem(10);

  &__header {
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: toRem(18);
  }

  .price-tag {
    display: flex;

    p:first-child {
      color: white;

      font-weight: 700;
      font-size: toRem(40);
      margin: 0;
      margin-right: toRem(12);
      margin-top: toRem(20);
    }

    p:nth-child(2) {
      margin-top: toRem(33.74);
      color: hsl(179, 65%, 51%);
      // color: hsl(0, 0%, 100%);
      font-weight: 700;
    }
  }

  p {
    color: white;
    margin: 0;
    margin-top: toRem(7);
  }

  button {
    margin-top: toRem(15);
    padding: toRem(15) toRem(40);
    background-color: $bright-yellow;
    font-family: "Karla", sans-serif;
    border: none;
    border-radius: toRem(10);
    width: toRem(240);
    font-size: toRem(16);
    font-weight: 700;
    color: white;
    box-shadow: 0px toRem(4.32) toRem(10) hsl(136, 10%, 53%);
    cursor: pointer;
    transition: box-shadow ease-in 500ms;
  }
  // abc
  button:hover {
    box-shadow: 0px toRem(4.32) toRem(20) hsl(138, 9%, 45%);
  }
}

.why-us {
  background-color: hsl(179, 51%, 59%);
  padding: toRem(28.872) toRem(37.27);
  border-bottom-right-radius: toRem(10);
  margin: 0;
  width: toRem(270);

  &__info {
    .why-us__list {
      margin-block: toRem(5);
      color: hsl(175, 100%, 90%);
    }
  }

  &__header {
    color: white;
    font-weight: 700;
    margin: 0;
    font-size: toRem(18);
    margin-block: toRem(10);
    margin-block-end: toRem(16);
  }
}
